<% provide(:title, "Help") %>
<div>
  <h1 class="font-bold text-4xl my-4">Help</h1>
  <p>Get help with the Ruby on Rails Tutorial at the
    <a class="text-red-600" href="https://www.railstutorial.org/help">Rails Tutorial Help page</a>.
    To get help on the sample app, see the <a href="https://www.railstutorial.org/book"><em class="text-red-600">Ruby on Rails Tutorial</em></a>.
  </p>
</div>
