<li class="flex gap-4 p-2 rounded-md bg-zinc-800">
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= button_to user, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } do %>

      <span class="material-icons material-icons-outlined danger">delete</span>
    <% end %>
  <% end %>
</li>