<%= form_with(model: @micropost, class: "mt-8") do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost...",
                    class: "rounded-md text-zinc-800" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>