@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .nav-link {
        @apply hover:text-rose-500 transition-all duration-300;
    }

    .btn {
        @apply rounded-lg py-2.5 px-4 transition-all duration-300;
    }

    .btn-primary {
        @apply bg-[#CC0000] hover:bg-rose-600;
    }
}

body {
    @apply bg-zinc-900 text-zinc-100 relative;
}

form {
    @apply flex flex-col gap-1 mx-auto;
}

form input[type=submit] {
    @apply mt-2;
}

.form-control {
    @apply rounded border-none text-zinc-800;
}

.alert {
    @apply rounded-md px-2 py-4 absolute right-8 self-start font-medium;
}

.alert-info {
    @apply bg-sky-200 text-sky-800;
}

.alert-success {
    @apply bg-green-200 text-green-800;
}

.alert-danger {
    @apply bg-rose-200 text-rose-800;
}

.button_to {
    margin: 0;
}

.checkbox {
    @apply flex gap-2 items-center;
}


.danger {
    @apply text-rose-500;
}

.debug_dump {
    position: absolute;
    left: 20px;
    bottom: 90px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    @apply absolute rounded px-2 py-4 bg-zinc-800;
    top: 2rem;
    right: 1rem;
    transform: scaleY(0);
    transition: transform 300ms ease-in-out;
}

.dropdown-menu.open {
    transform: scaleY(1);
}

/* Pagination */

.pagination {
    @apply border border-zinc-100 self-center rounded my-4;
}

.pagination em,
.pagination a:not(:last-of-type) {
    @apply inline-block border-r-[1px] border-zinc-100 px-2
}


.pagination .current {
    @apply bg-rose-500
}

.pagination .disabled {
    @apply text-zinc-400 cursor-not-allowed;
}