<footer class="flex flex-col self-center items-center mx-auto border-t border-t-zinc-300 w-full py-4">
  <small>
    The <a class="text-rose-500" href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a class="text-rose-500" href="https://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav class="flex gap-4">
    <%= link_to "About",   about_path, class: 'nav-link'  %>
    <%= link_to "Contact", contact_path, class: 'nav-link'  %>
    <a href="https://news.railstutorial.org/" class="nav-link">News</a>
  </nav>
</footer>